.person {
	padding: 10px;
}

.person-avatar {
	margin: auto;
}

.M {
	color: #5c6bc0;
}

.F {
	color: #ec407a;
}

.card .data {
	line-height: 1;
	margin-top: 10px;
}

.responsive-img {
	width: 100%;
}