<div class="row">
	<div class="col s12 center">
		<h1 class="black-text">¡Espérate!</h1>
		<i class="material-icons large">pan_tool</i>
		<p>Este servicio está lleno de sorpresas y premios especiales, pero es solo para usuarios que son nivel Diamante o superior. Sigue usando la app y pronto podrás acceder.</p>
	</div>
</div>